# Proyecto Final Karina Cardozo
# p3_Preparación

# 1) Cargamos los datos 📕

In [1]:
import pandas as pd
from funpymodeling.exploratory import freq_tbl, status

In [2]:
# Para este caso nos interesa visualizar todas las columnas
pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_csv("data/customer_dataset.csv", sep=',')

# 2) Inspección inicial 👀

In [4]:
data.head(5)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,18.0,pending,True,card,JCB 16 digit,Citizens First Banks,18,False,False,com,yahoo,only_letters,yes
1,26.0,fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,26,False,True,com,yahoo,only_letters,no
2,45.0,fulfilled,False,card,VISA 16 digit,Vertex Bancorp,45,False,False,com,yahoo,digits_and_letters,no
3,23.0,fulfilled,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,23,False,False,com,yahoo,digits_and_letters,no
4,43.0,fulfilled,False,card,Mastercard,Vertex Bancorp,43,True,True,com,other,only_letters,no

In [5]:
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,orderAmount,145,0.232745,0,0.000000,67,float64
1,orderState,145,0.232745,0,0.000000,3,object
2,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
3,paymentMethodType,281,0.451043,0,0.000000,4,object
4,paymentMethodProvider,281,0.451043,0,0.000000,10,object
5,paymentMethodIssuer,281,0.451043,0,0.000000,20,object
6,transactionAmount,0,0.000000,0,0.000000,67,int64
7,transactionFailed,0,0.000000,455,0.730337,2,bool
8,fraudulent,455,0.730337,107,0.171750,2,object
9,emailDomain,0,0.000000,0,0.000000,6,object
10,emailProvider,0,0.000000,0,0.000000,5,object
11,customerIPAddressSimplified,0,0.000000,0,0.000000,2,object
12,sameCity,0,0.000000,0,0.000000,3,object

# 3) Discretización 📈➜📊

In [6]:
probando=data.copy()

## 3.1) Por igual frecuencia y por igual rango.

In [7]:
#Discretizamos orderAmount con 5 bins
data['orderAmount'], saved_bins_order = pd.qcut(data['orderAmount'], q=5, duplicates='drop', retbins=True)

In [8]:
status(data['orderAmount'])

      variable  q_nan     p_nan  q_zeros  p_zeros  unique      type
0  orderAmount    145  0.232745        0      0.0       5  category

In [9]:
freq_tbl(data['orderAmount'])

     orderAmount  frequency  percentage  cumulative_perc
0   (30.0, 39.0]         98    0.157303         0.205021
1   (39.0, 47.0]         97    0.155698         0.407950
2  (9.999, 18.4]         96    0.154093         0.608787
3   (18.4, 30.0]         96    0.154093         0.809623
4  (47.0, 353.0]         91    0.146067         1.000000

In [10]:
import pickle

#Guardamos los puntos de corte
with open('data/saved_bins_order.pickle', 'wb') as handle:
  pickle.dump(saved_bins_order, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [11]:
#Discretizamos orderAmount con 4 bins
data['transactionAmount'], saved_bins_order = pd.qcut(data['transactionAmount'], q=4, duplicates='drop', retbins=True)

In [12]:
status(data['transactionAmount'])

            variable  q_nan  p_nan  q_zeros  p_zeros  unique      type
0  transactionAmount      0    0.0        0      0.0       4  category

In [13]:
freq_tbl(data['transactionAmount'])

  transactionAmount  frequency  percentage  cumulative_perc
0     (9.999, 21.0]        167    0.268058         0.268058
1      (21.0, 34.0]        153    0.245586         0.513644
2      (34.0, 45.0]        152    0.243981         0.757624
3     (45.0, 353.0]        151    0.242376         1.000000

In [14]:
#Guardamos los puntos de corte
with open('data/saved_bins_transaction.pickle', 'wb') as handle:
  pickle.dump(saved_bins_order, handle, protocol=pickle.HIGHEST_PROTOCOL)

**Verificando que los puntos de corte/bins generados, se han guardado correctamente:**

In [15]:
probando.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,18.0,pending,True,card,JCB 16 digit,Citizens First Banks,18,False,False,com,yahoo,only_letters,yes
1,26.0,fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,26,False,True,com,yahoo,only_letters,no
2,45.0,fulfilled,False,card,VISA 16 digit,Vertex Bancorp,45,False,False,com,yahoo,digits_and_letters,no

In [16]:
with open('data/saved_bins_order.pickle', 'rb') as handle:
    new_saved_bins_order = pickle.load(handle)

In [17]:
with open('data/saved_bins_transaction.pickle', 'rb') as handle:
    new_saved_bins_transaction = pickle.load(handle)

In [18]:
probando["orderAmount"] = pd.cut(
    probando['orderAmount'],
    bins=new_saved_bins_order, 
    include_lowest=True) # importante para que coincidan todos

In [19]:
probando["transactionAmount"] = pd.cut(
    probando['transactionAmount'],
    bins= new_saved_bins_transaction, 
    include_lowest=True) # importante para que coincidan todos

In [20]:
probando.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,"(9.999, 21.0]",False,False,com,yahoo,only_letters,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,"(21.0, 34.0]",False,True,com,yahoo,only_letters,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,"(34.0, 45.0]",False,False,com,yahoo,digits_and_letters,no

In [21]:
status(probando[['orderAmount','transactionAmount']])

            variable  q_nan     p_nan  q_zeros  p_zeros  unique      type
0        orderAmount    145  0.232745        0      0.0       5  category
1  transactionAmount      0  0.000000        0      0.0       4  category

In [22]:
freq_tbl(probando[['orderAmount','transactionAmount']])

     orderAmount  frequency  percentage  cumulative_perc
0   (30.0, 39.0]         98    0.157303         0.205021
1   (39.0, 47.0]         97    0.155698         0.407950
2  (9.999, 18.4]         96    0.154093         0.608787
3   (18.4, 30.0]         96    0.154093         0.809623
4  (47.0, 353.0]         91    0.146067         1.000000

----------------------------------------------------------------

  transactionAmount  frequency  percentage  cumulative_perc
0     (9.999, 21.0]        167    0.268058         0.268058
1      (21.0, 34.0]        153    0.245586         0.513644
2      (34.0, 45.0]        152    0.243981         0.757624
3     (45.0, 353.0]        151    0.242376         1.000000

----------------------------------------------------------------

# 4) Preparación de datos 🔧

## 4.1) Intepretar los valores

In [23]:
#Contar los elementos únicos que aparecen en paymentMethodIssuer

data['paymentMethodIssuer'].value_counts()

Her Majesty Trust           43
Vertex Bancorp              37
Fountain Financial Inc.     35
His Majesty Bank Corp.      33
Bastion Banks               29
Bulwark Trust Corp.         29
Citizens First Banks        28
Grand Credit Corporation    27
Solace Banks                27
Rose Bancshares             25
B                            7
e                            5
c                            4
r                            3
                             2
n                            2
x                            2
o                            2
a                            1
p                            1
Name: paymentMethodIssuer, dtype: int64

In [24]:
# Reemplazar un valor a la vez
weird_payment_method = ["B", "e", "c", "r", " ", "n", "x", "o", "a", "p"]

for payment_method in weird_payment_method:
    data['paymentMethodIssuer'] = data['paymentMethodIssuer'].replace(payment_method, 'weird')

In [25]:
data['paymentMethodIssuer'].value_counts()

Her Majesty Trust           43
Vertex Bancorp              37
Fountain Financial Inc.     35
His Majesty Bank Corp.      33
Bastion Banks               29
weird                       29
Bulwark Trust Corp.         29
Citizens First Banks        28
Solace Banks                27
Grand Credit Corporation    27
Rose Bancshares             25
Name: paymentMethodIssuer, dtype: int64

In [26]:
data['paymentMethodProvider'].value_counts()

JCB 16 digit                   65
VISA 16 digit                  57
Voyager                        36
Diners Club / Carte Blanche    34
Maestro                        32
VISA 13 digit                  32
Discover                       25
American Express               22
JCB 15 digit                   20
Mastercard                     19
Name: paymentMethodProvider, dtype: int64

In [27]:
data['paymentMethodType'].value_counts()

card         242
apple pay     36
paypal        36
bitcoin       28
Name: paymentMethodType, dtype: int64

In [28]:
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,orderAmount,145,0.232745,0,0.000000,5,category
1,orderState,145,0.232745,0,0.000000,3,object
2,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
3,paymentMethodType,281,0.451043,0,0.000000,4,object
4,paymentMethodProvider,281,0.451043,0,0.000000,10,object
5,paymentMethodIssuer,281,0.451043,0,0.000000,11,object
6,transactionAmount,0,0.000000,0,0.000000,4,category
7,transactionFailed,0,0.000000,455,0.730337,2,bool
8,fraudulent,455,0.730337,107,0.171750,2,object
9,emailDomain,0,0.000000,0,0.000000,6,object
10,emailProvider,0,0.000000,0,0.000000,5,object
11,customerIPAddressSimplified,0,0.000000,0,0.000000,2,object
12,sameCity,0,0.000000,0,0.000000,3,object

**Semáforo para Fraudulent:**

- False = Green le asignaremos el valor numérico 0

- True = Red le asignaremos el valor numérico 1

- Nan = Yellow le asignaremos el valor numérico 2

In [29]:
#Rellenamos los valores nulos con la palabra warning

data['fraudulent']=data['fraudulent'].fillna(value="warning")

In [30]:
data["fraudulent"].value_counts()

warning    455
False      107
True        61
Name: fraudulent, dtype: int64

In [31]:
#Convertimos la columna farudulent a string para que no exista ningún tipo de conflicto
data['fraudulent']=data['fraudulent'].astype(str)

In [32]:
#Implementamos el semáforo con class_map

class_map = {'False': 0, 'True': 1, 'warning': 2}
data['fraudulent'] = data['fraudulent'].map(class_map)

In [33]:
#Verificamos
data.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,"(9.999, 21.0]",False,0,com,yahoo,only_letters,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,"(21.0, 34.0]",False,1,com,yahoo,only_letters,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,"(34.0, 45.0]",False,0,com,yahoo,digits_and_letters,no

## 4.2) Custom tratamiento de datos faltantes

In [34]:
#El dataset presenta muchos valores nulos y orderAmount es un ejemplo.
data['orderAmount'].value_counts()

(30.0, 39.0]     98
(39.0, 47.0]     97
(9.999, 18.4]    96
(18.4, 30.0]     96
(47.0, 353.0]    91
Name: orderAmount, dtype: int64

In [35]:
#Agregamos la categoría desconocido y rellenamos los nulos con "desconocido"
data['orderAmount']=data['orderAmount'].cat.add_categories("desconocido")
data['orderAmount']=data['orderAmount'].fillna(value="desconocido")

In [36]:
#Verificamos
data['orderAmount'].value_counts()

desconocido      145
(30.0, 39.0]      98
(39.0, 47.0]      97
(9.999, 18.4]     96
(18.4, 30.0]      96
(47.0, 353.0]     91
Name: orderAmount, dtype: int64

# 5) One hot encoding ✂️

In [37]:
data1=data.copy()

In [39]:
status(data1)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,orderAmount,0,0.000000,0,0.000000,6,category
1,orderState,145,0.232745,0,0.000000,3,object
2,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
3,paymentMethodType,281,0.451043,0,0.000000,4,object
4,paymentMethodProvider,281,0.451043,0,0.000000,10,object
5,paymentMethodIssuer,281,0.451043,0,0.000000,11,object
6,transactionAmount,0,0.000000,0,0.000000,4,category
7,transactionFailed,0,0.000000,455,0.730337,2,bool
8,fraudulent,0,0.000000,107,0.171750,3,int64
9,emailDomain,0,0.000000,0,0.000000,6,object
10,emailProvider,0,0.000000,0,0.000000,5,object
11,customerIPAddressSimplified,0,0.000000,0,0.000000,2,object
12,sameCity,0,0.000000,0,0.000000,3,object

In [40]:
data1.head(5)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,"(9.999, 21.0]",False,0,com,yahoo,only_letters,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,"(21.0, 34.0]",False,1,com,yahoo,only_letters,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,"(34.0, 45.0]",False,0,com,yahoo,digits_and_letters,no
3,"(18.4, 30.0]",fulfilled,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,"(21.0, 34.0]",False,0,com,yahoo,digits_and_letters,no
4,"(39.0, 47.0]",fulfilled,False,card,Mastercard,Vertex Bancorp,"(34.0, 45.0]",True,1,com,other,only_letters,no

In [41]:
data_ohe = pd.get_dummies(data1)

In [42]:
data_ohe.head(5)

,transactionFailed,fraudulent,"orderAmount_(9.999, 18.4]","orderAmount_(18.4, 30.0]","orderAmount_(30.0, 39.0]","orderAmount_(39.0, 47.0]","orderAmount_(47.0, 353.0]",orderAmount_desconocido,orderState_failed,orderState_fulfilled,orderState_pending,paymentMethodRegistrationFailure_False,paymentMethodRegistrationFailure_True,paymentMethodType_apple pay,paymentMethodType_bitcoin,paymentMethodType_card,paymentMethodType_paypal,paymentMethodProvider_American Express,paymentMethodProvider_Diners Club / Carte Blanche,paymentMethodProvider_Discover,paymentMethodProvider_JCB 15 digit,paymentMethodProvider_JCB 16 digit,paymentMethodProvider_Maestro,paymentMethodProvider_Mastercard,paymentMethodProvider_VISA 13 digit,paymentMethodProvider_VISA 16 digit,paymentMethodProvider_Voyager,paymentMethodIssuer_Bastion Banks,paymentMethodIssuer_Bulwark Trust Corp.,paymentMethodIssuer_Citizens First Banks,paymentMethodIssuer_Fountain Financial Inc.,paymentMethodIssuer_Grand Credit Corporation,paymentMethodIssuer_Her Majesty Trust,paymentMethodIssuer_His Majesty Bank Corp.,paymentMethodIssuer_Rose Bancshares,paymentMethodIssuer_Solace Banks,paymentMethodIssuer_Vertex Bancorp,paymentMethodIssuer_weird,"transactionAmount_(9.999, 21.0]","transactionAmount_(21.0, 34.0]","transactionAmount_(34.0, 45.0]","transactionAmount_(45.0, 353.0]",emailDomain_biz,emailDomain_com,emailDomain_info,emailDomain_net,emailDomain_org,emailDomain_weird,emailProvider_gmail,emailProvider_hotmail,emailProvider_other,emailProvider_weird,emailProvider_yahoo,customerIPAddressSimplified_digits_and_letters,customerIPAddressSimplified_only_letters,sameCity_no,sameCity_unknown,sameCity_yes
0,False,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1
1,False,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0
2,False,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,1,0,0
3,False,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,1,0,0
4,True,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0

In [43]:
data_ohe.shape

(623, 58)

In [44]:
status(data_ohe)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,transactionFailed,0,0.0,455,0.730337,2,bool
1,fraudulent,0,0.0,107,0.171750,3,int64
2,"orderAmount_(9.999, 18.4]",0,0.0,527,0.845907,2,uint8
3,"orderAmount_(18.4, 30.0]",0,0.0,527,0.845907,2,uint8
4,"orderAmount_(30.0, 39.0]",0,0.0,525,0.842697,2,uint8
5,"orderAmount_(39.0, 47.0]",0,0.0,526,0.844302,2,uint8
6,"orderAmount_(47.0, 353.0]",0,0.0,532,0.853933,2,uint8
7,orderAmount_desconocido,0,0.0,478,0.767255,2,uint8
8,orderState_failed,0,0.0,573,0.919743,2,uint8
9,orderState_fulfilled,0,0.0,223,0.357945,2,uint8
10,orderState_pending,0,0.0,595,0.955056,2,uint8
11,paymentMethodRegistrationFailure_False,0,0.0,321,0.515249,2,uint8
12,paymentMethodRegistrationFailure_True,0,0.0,583,0.935795,2,uint8
13,paymentMethodType_apple pay,0,0.0,587,0.942215,2,uint8
14,paymentMethodType_bitcoin,0,0.0,595,0.955056,2,uint8
15,paymentMethodType_card,0,0.0,381,0.611557,2,uint8
16,paymentMethodType_paypal,0,0.0,587,0.942215,2,uint8
17,paymentMethodProvider_American Express,0,0.0,601,0.964687,2,uint8
18,paymentMethodProvider_Diners Club / Carte Blanche,0,0.0,589,0.945425,2,uint8
19,paymentMethodProvider_Discover,0,0.0,598,0.959872,2,uint8
20,paymentMethodProvider_JCB 15 digit,0,0.0,603,0.967897,2,uint8
21,paymentMethodProvider_JCB 16 digit,0,0.0,558,0.895666,2,uint8
22,paymentMethodProvider_Maestro,0,0.0,591,0.948636,2,uint8
23,paymentMethodProvider_Mastercard,0,0.0,604,0.969502,2,uint8
24,paymentMethodProvider_VISA 13 digit,0,0.0,591,0.948636,2,uint8
25,paymentMethodProvider_VISA 16 digit,0,0.0,566,0.908507,2,uint8
26,paymentMethodProvider_Voyager,0,0.0,587,0.942215,2,uint8
27,paymentMethodIssuer_Bastion Banks,0,0.0,594,0.953451,2,uint8
28,paymentMethodIssuer_Bulwark Trust Corp.,0,0.0,594,0.953451,2,uint8
29,paymentMethodIssuer_Citizens First Banks,0,0.0,595,0.955056,2,uint8
30,paymentMethodIssuer_Fountain Financial Inc.,0,0.0,588,0.943820,2,uint8
31,paymentMethodIssuer_Grand Credit Corporation,0,0.0,596,0.956661,2,uint8
32,paymentMethodIssuer_Her Majesty Trust,0,0.0,580,0.930979,2,uint8
33,paymentMethodIssuer_His Majesty Bank Corp.,0,0.0,590,0.947030,2,uint8
34,paymentMethodIssuer_Rose Bancshares,0,0.0,598,0.959872,2,uint8
35,paymentMethodIssuer_Solace Banks,0,0.0,596,0.956661,2,uint8
36,paymentMethodIssuer_Vertex Bancorp,0,0.0,586,0.940610,2,uint8
37,paymentMethodIssuer_weird,0,0.0,594,0.953451,2,uint8
38,"transactionAmount_(9.999, 21.0]",0,0.0,456,0.731942,2,uint8
39,"transactionAmount_(21.0, 34.0]",0,0.0,470,0.754414,2,uint8
40,"transactionAmount_(34.0, 45.0]",0,0.0,471,0.756019,2,uint8
41,"transactionAmount_(45.0, 353.0]",0,0.0,472,0.757624,2,uint8
42,emailDomain_biz,0,0.0,612,0.982343,2,uint8
43,emailDomain_com,0,0.0,492,0.789727,2,uint8
44,emailDomain_info,0,0.0,617,0.990369,2,uint8
45,emailDomain_net,0,0.0,616,0.988764,2,uint8
46,emailDomain_org,0,0.0,614,0.985554,2,uint8
47,emailDomain_weird,0,0.0,164,0.263242,2,uint8
48,emailProvider_gmail,0,0.0,592,0.950241,2,uint8
49,emailProvider_hotmail,0,0.0,600,0.963082,2,uint8
50,emailProvider_other,0,0.0,542,0.869984,2,uint8
51,emailProvider_weird,0,0.0,164,0.263242,2,uint8
52,emailProvider_yahoo,0,0.0,594,0.953451,2,uint8
53,customerIPAddressSimplified_digits_and_letters,0,0.0,546,0.876404,2,uint8
54,customerIPAddressSimplified_only_letters,0,0.0,77,0.123596,2,uint8
55,sameCity_no,0,0.0,486,0.780096,2,uint8
56,sameCity_unknown,0,0.0,139,0.223114,2,uint8
57,sameCity_yes,0,0.0,621,0.996790,2,uint8

In [45]:
#Eliminamos la columna objetivo (fraudulent) para cuando carguemos el modelo a una app:
data_ohe_without_fraudulent = data_ohe.drop(["fraudulent"], axis=1)

In [46]:
#Guardar el nombre de las columnas con el nombre: categories_ohe_without_fraudulent.pickle

with open('data/categories_ohe_without_fraudulent.pickle', 'wb') as handle:
    pickle.dump(data_ohe_without_fraudulent.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

# 6) Guardar dataset 💾

In [47]:
filename = "data/ohe_customer_dataset.csv"
data_ohe.to_csv(filename, index = False)